#clg-evename{
    color :#dee2ea;
    font-family:Andale Mono, monospace;
    text-align:center;
    animation-name:ChngeSize;
    font-size: 50px;
    
    
}
.log-ht{
	height: 110px;
}
.box{
	
	height:50px;
	font-size: 24px;
	position: fixed;
    right:25px;
    z-index: 1;
    background: none;
}
.logo{
	
	top:0px;
	width : 100%;
	height:120px;
	margin-top: 0px;
	right: 0;
	position: absolute;
}
.eventbox{
    height: 500px;
	border: 2px solid #4db3cc;
	border-radius: 20px;	
}
#eve-head{
	margin-left: 20px;
	font-size: 30px;

}
footer{
	 width: 100%;
        height: 70px;
        padding: 1px;
       
        background-color: Black;
        color: #ffffff;
        position: fixed;
        bottom: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

}
.body{
   background: url("https://i.pinimg.com/originals/0f/d2/17/0fd21758eb44841974b0dada1f86bf8f.jpg");
}
.eve-list{
	font-size: 25px;
	color: white;
	list-style-type: none;

}
.eve-list li a {
	text-decoration:none;
	color:#8ab7de;

}
.eve-list li{
	list-style-type: none;
	margin-top: 20px;
	color:#46a3f3;
}
.eve-list li :hover{
	font-size: 40px;
	transition: 0.5s;
	cursor: pointer;
	color: white;

}
.custstyle{
	font-size: 25px;
	margin-left:2%;
	margin-top:10px;
}
.sidenavba{
    
	height:100%;
  width: 0px; 
  position: fixed; 
 color:white;
  left: 0;
   top :0;
  background-color:black; 
  transition: 0.1s;
  font-size: 18px;
  overflow-x: hidden;
 


}
.sidenavba ul li{
	list-style-type: none;
   margin-top: 25px;
	transform: translateX(-15px);
	font-family: cursive;
	font-size: 24px;
}
.opennav{
	background:none;
	border:none;
	outline: 0;
	color: white;

}
.opennav:hover{
	cursor: pointer;
	
	border-radius: 25px;
	z-index: 1;
}
.sidenavba ul a {
	text-decoration: none;
	color: white;
}
